@media screen and (min-width:1100px) and (max-width:1327px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } 
    .headd{
        font-size: 16px;
        text-decoration: none;
        text-transform: capitalize;
    }
    header.head{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        column-gap: 10px;
         box-shadow: 0px -3px 6px rgba(0,0,0,0.1);
    
    
        span.adamak{
    
            cursor: pointer;
    
                &:hover{
                    div.login{
                        left: 0;
                    }
                }
            
    
            div.login{
                width: 20%;
                height: 100vh;
                background-color: white;
                position: absolute;
                top: 0;
                left: -100%;
    
               div.inside{
    
                width: 100%;
                padding: 20px;
                margin-top: 100px;
               
    
    
    
                            
    
                      p{
                       
                       font-size: 22px;
                       display: block;
                       text-align: center;
                       }
                      label{
                      display: block;
                      font-size: 12px;
                      margin-top: 15px;
                      }
                      input{
                      width: 100%;
                      height: 21px;
                     
                      display: block;
                      border: unset;
                      outline: unset;
                      border-bottom: 1px solid black;
                      margin: 7px auto;
    
                      }
    
                      a{
                        display: block;
                        text-decoration: none;
                        color: whitesmoke;
                        width: 100%;
                        height: 40px;
                        line-height: 40px;
                        background-color: #489671;
                        text-align: center;
                        margin-top: 20px;
                        border-radius: 30px;
                        transition: 300ms;
    
                        &:hover{
                            background-color: #244938;
                            transition: 300ms;
                        }
                      }
    
                      a.forgetpass{
                        color: black;
                        background-color: unset;
                        height: 20px;
                        margin: unset;
                        font-size: 12px;
                        text-decoration: underline;
                      }
                        
                      div.facebook{
                        display: grid;
                        grid-template-columns: 20% 80%;
                        width: 100%;
                        height: 40px;
                        line-height: 40px;
                        background-color: #ffffff;
                        text-align: center;
                        margin-top: 20px;
                        border-radius: 30px;
                        transition: 300ms;
                        box-shadow: 0px 3px 11px black;
    
                        img{
                        
                            display: block;
                            width: 27px;
                            height: 27x;
                           margin: 5px 10px;
                        }
    
                        p{
                            font-size: 12px;
                        }
    
    
                      }
            }
    
            }
    
        }
         
    
        p{
            cursor: pointer;
        }
    
        div.navbar-nav{
            width: 96vw;
            height: 100vh;
            background-color: #F0EFFC;
            position: absolute;
            top: 80px;
            left: 10px;
            display: grid;
            grid-template-columns: 20% 80%;
            column-gap: 20px ;
            
    
            div.chap{
                width: 100%;
                padding: 20px;
                box-shadow: 10px 0px 5px -5px rgba(0,0,0,0.75);
    
    
                ul{
                   
                    display: block;
                    padding-left: 10px;
                    
                    li{
                        display: block;
                        width: 300px;
                        height: 40px;
                        
                        cursor: pointer;
                        
                        
    
                        &:hover{
                            div.none{
                                display: block;
                            }
                        }
    
                        div.none{
                            width: 70vw;
                            height: 100vh;
                            
                            position: absolute;
                            top: 0;
                            left:250px ;
                            display: none;
                            
    
                            div.grid{
                                padding: 10px;
                                padding-left: 20px;
                                display: grid;
                                grid-template-columns: repeat(4,25%);
                                margin-top: 20px;
    
    
                                div{
    
                                    padding-left: 30px;
    
                                    h2{
                                        font-size: 16px;
                                        font-weight: bolder;
                                    }
    
                                    h3{
                                        font-size: 14px;
                                        font-weight: bolder;
                                        margin-top: 30px;
    
                                        &:hover{
                                            color: #838181;
                                        }
                                    }
    
                                    span{
                                        display: block;
                                        margin-bottom: 6px;
                                        font-size: 13px;
                                        transition: 300ms;
    
                                        &:hover{
                                            font-weight: bolder;
                                            transition: 300ms;
                                        }
                                    }
                                }
                            }
                        }
                    }
    
                    
                }
            }
        
            div.rast{
                display: none;
                
            }
        
        }
    }

    div.center{
        width: 30%;
        text-align: center;
        display: inline-block;
    }
    div.right{
        width: 30%;
        text-align: right;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    
        div.aziatkon{
            width: 200px;
            height: 40px;
            border: 1px solid black;
            text-align: right;
            left:  100px;
            text-align: right;
            direction: rtl;
            border-radius: 30px ;
            background-color: #F5F5F5;
            &:active{
                box-shadow: 0px 6px 12px black;
            }

            input{
                display: block;
                width: 160px;
                height: 35px;
                border-radius: 40px;
                background-color: #F5F5F5;
                border: unset;
                outline: unset;
                top: 30px;
                direction: ltr; 
            }


           div.SVG{
            width: 15px;
            height: 15px;
            position: absolute;
            top: 8px;
            left: 10px;
            border: unset;
            

            svg.svg-icon{
                display: inline-block;
                width: 100%;
                height: 100%;
            }
           }
        }

         
        
        .svg-icon.search-icon {
            display: inline-block;
            width: 80px;
            height: 80px;
          
            /* On hover: blue strokes */
            &:focus,
            &:hover {
              .search-path {
                stroke: #299ecc;
              }
            }
          
            /* On click: thicker black strokes  */
            &:active {
              .search-path {
                stroke: #111516;
                stroke-width: 2px;
              }
            }
          }


          span.bag{
            display: inline-block;
            width: 30px;
            height: 30px;
            border: unset;
       
            cursor: pointer;

            &:hover{
                div.bag{
                    display: block;
                }
            }

            img.bag{
                width: 30px;
                height: 30px;
            }
                div.bag{
                    width: 30vw;
                    height: 100vh;
                    position: absolute;
                    top: 55px;
                    left: unset;
                    right: -40px;
                    background-color: whitesmoke;
                    display: none;
                    
    
    
                    div.bagbache{
                        width: 100%;
                        height: 100vh;
                        padding: 20px;
                        
                        
                        h3{
                            text-align: left;
                        }
    
    
                        p{
                            text-align: center;
                            margin-top: 200px;
                            font-size: 18px;
                            font-weight: bolder;
                        }
    
                        span{
                            display: block;
                            text-align: center;
                            font-size: 14px;
                            margin-top: -18px;
                        }
    
    
                        a{
                            display: block;
                            text-decoration: none;
                            color: whitesmoke;
                            width: 100%;
                            height: 40px;
                            line-height: 40px;
                            background-color: #489671;
                            text-align: center;
                            margin-top: 20px;
                            border-radius: 30px;
                            transition: 300ms;
                            margin-top: 230px;
                            &:hover{
                                background-color: #244938;
                                transition: 300ms;
                            }
                        }
    
                    }
                }
              }
    
    }
    a.FDV{
        display: block;
        width: 100%;
        height: 50px;
        background-color: rgba(30, 102, 102, 0.678);
        text-decoration: none;
        text-transform: capitalize;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0px;
        
        p{
            margin-top: auto;
            margin-bottom: auto;
        }
    }
    svg.closeFDV{
        position: absolute;
        right: 10px;
        top: 13px;
    }
    div.second-menu {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
      }
      div.second-menu > a {
        flex-grow: 1;
        height: 100%;
        text-decoration: none;
        text-align: center;
        line-height: 50px;
        font-size: 15px;
        color: black;
        font-family: "sans-regular";
      }
      div.second-menu > a > span.fa-newspaper {
        font-size: 15px;
        color: black;
        padding-left: 15px;
      }
    section.WhatsNew{
        width: 100%;
        padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        
        div.product:nth-child(1){
            grid-column-start: 1;
            grid-column-end: 6;
            display: flex;
            justify-content: space-evenly;
            align-content: center;
    
            span.alaki{
                all: unset;
                width: 200px;
            }
    
            h2{
                margin-left: auto;
                margin-right: auto;
                margin-top: auto;
                margin-bottom: auto;
            }
            span{
                line-height: 50px;
                margin-right: 20px;
                border: 1px solid black;
                border-radius: 30px;
                padding-right: 30px;
                padding-left: 30px;
                display: none !important;
    }
        }
        div.product:nth-child(2){
            text-align: center;
        }
        div.product:nth-child(3){
          display: flex;
        justify-content: center;
        align-items: center;
            div{
                width: 30%;
                
            
               :nth-child(1){
                width: 231px;
                height: 231px;
                overflow: hidden;
                transition: 500ms;
                :nth-child(1){
                    &:hover{
                        scale: 1.2;
                       }
                }
    
               }
                
                :nth-child(2){
                   font-size: 12px; 
                }
            }
    
            :nth-child(3){
                margin-left: 8px;
            }
    
            :nth-child(4){
                margin-left: 8px;
            }
            :nth-child(5){
                margin-left: 8px;
            }
        }
    }
    
    
    section.bestoffers{
        width: 100%;
        padding: 10px;
        
        display: grid;
        grid-template-columns: 70% 25%;
        grid-template-rows: 50px 357px;
        column-gap: 10px;
        row-gap: 10px;
        justify-content: center;
    
        div.shop:nth-child(1){
            grid-column-start: 1;
            grid-column-end: 3;
        
            display: flex;
            justify-content: space-between;
            
    
            span{
                line-height: 50px;
                margin-right: 20px;
                border: 1px solid black;
                border-radius: 30px;
                padding-right: 30px;
                padding-left: 30px;
                cursor: pointer;
            }
            
            span.alaki{
                all: unset;
                width: 100px;
            }
        }
    
    
        div.shop:nth-child(2){
            
            display: flex;
            justify-content: center;
            column-gap: 10px;
            cursor: pointer;
    
    
    
            div.parts{
                display: inline-block;
                width: 24%;
                
                
                div.forpic{
                    width: 223px;
                    height: 231px;
                    transition: 300ms;
                    overflow: hidden;
                    
                    img{
                        &:hover{
                            scale: 1.1;
                            transition: 300ms;
                            
                        }
                    }
                }
                span.d-block{
                    font-size: 12px;
                }
    
                span.mt-3{
                    width: 100%;
                    height: 60px;
                    font-size: 15px;
                }
    
            
            }
    
        }
    
    
    
    
        div.shop:nth-child(3){
          
            cursor: pointer;
    
            div.khanoome{
                position: relative;
    
                img{
                    height: 427px;
                    position: absolute;
                    top: -70px;
                }
            }
        }
    }
    
    section.musthave{
        width: 100%;
        background-color: white;
       
         div.text{
            padding: 60px;
            display: none !important;
            h2{
                font-size: 40px;
            }
    
            span{
                display: block;
                margin-top: 30px;
                font-size: 15px;
            }
    
            span.borderdar{
                line-height: 50px;
                margin-right: 20px;
                border: 1px solid black;
                border-radius: 30px;
                padding-right: 30px;
                padding-left: 30px;
                display: inline-block;
            }
         }
    }
    
    
    section.Astaxanthinhead{
        width: 100%;
        
        padding: 50px;
        text-align: center;
    
        h2{
            width: 100%;
            font-size: 38px;
            margin: 0 auto;
        }
    
        p{
            width: 50%;
            margin: 20px auto;
            font-size: 13px;
           
        }
    
        div{
            width: 100%;
            
            text-align: right;
            margin-top: -75px;
    
        span{
            line-height: 50px;
            
            border: 1px solid black;
            border-radius: 30px;
            padding-right: 30px;
            padding-left: 30px;
            display: inline-block;
            cursor: pointer;
           }
        }
    
    
    }
    
    section.AstaxanthinP{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    
    
        div.child:nth-child(1){
            grid-column-start: 1;
            grid-column-end: 3;
            text-align: center;
            overflow: hidden;
        }
    
        div.child:nth-child(2){
            grid-column-start: 3;
            grid-column-end: 6;
            
            display: flex;
            justify-content: center;
            column-gap: 13px;
            gap: 25px;
            div{
                width: 30%;
    
                div.image{
                    width: 231px;
                    height: 231px;
                    transition: 300ms;
                    cursor: pointer;
    
                    img{
                        &:hover{
                            scale: 1.1;
                            transition: 300ms;
                        }
                    }
                }
    
                span.d-block{
                    font-size: 12px;
                }
    
                span.mt-3{
                    width: 100%;
                    height: 60px;
                    font-size: 15px;
                }
            }
        }
    
       
    }
    div.beautysvg{
        width: 100%;
        padding: 20px;
        text-align: center;
        margin-top: 60px;
    }
    
    div.believe{
        width: 50%;
        padding: 20px;
        text-align: center;
        margin: 0 auto;
        p{
            font-size: 15px;
        }
    }
    
    section.health{
        width: 100%;
        padding: 5px;
       
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 370px 30px 90px 30px ;
        column-gap: 10px;
        row-gap: 10px;
        justify-content: center;
    
    
    
        div.d-inline-block{
            width: 100%;
            text-align: center;
            cursor: pointer;
    
    
            div.forpic{
                width: 100%;
                height: 350px;
                padding: 20px;
                
    
                img{
                    width: 100%;
                    height: 350px;
                }
            }
    
            div.forcap{
                width: 100%;
                padding: 3px;
                text-align: center;
    
                span{
                    font-size: 17px;
                }
            }
    
            div.fortext{
                width: 100%;
                padding-left: 30px;
                padding-right: 30px;
                text-align: center;
    
                
                p{
                    font-size: 30px;
                    font-weight: bolder;
                }
            }
    
            span.endhealth{
                line-height: 50px;
                margin-right: 20px;
                border: 1px solid black;
                border-radius: 30px;
                // padding-right: 30px;
                // padding-left: 30px;
                // padding-top: 10px;
                // padding-bottom: 10px;
                padding-left: 30px;
                padding-right: 30px;
                cursor: pointer;
                display: inline-block;
                margin-top: 10px;
            }
        }
    }
    
    div.customer {
        width: 100%;
        padding: 20px;
        background-color: #d6d3f8;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      div.customer>div.svg-text{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
      div.customer>div.svg-text > div {
        width: 280px;
        padding: 15px;
        
        text-align: center;
      }
      div.customer>div.svg-text> div > span.fa-truck {
        font-size: 35px;
        color: black;
      }
      div.customer>div.svg-text > div > p:nth-of-type(1) {
        font-family: "sans-bold";
        font-size: 25px;
        color: black;
      }
       div.customer>div.svg-text> div > p:nth-of-type(2) {
        font-family: "sans-regular";
        font-size: 15px;
        color: black;
      }
       div.customer>div.svg-text> div > span.fa-gift {
        font-size: 35px;
        color: black;
      }
       div.customer> a {
        background-color: transparent;
        border: 1px solid black;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 16px;
        text-transform: uppercase;
  
      }
       div.customer>div.svg-text> div > span.fa-comment-heart {
        font-size: 35px;
        color: black;
      }
    
    section.brands{
        width: 100%;
        padding: 10px;
        
        text-align: center;
        margin-top: 100px;
    
        h2{
            font-size: 40px;
        }
    
        div{
            width: 80%;
            margin-top: 10px;
            
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(4,25%);
            column-gap: 20px;
            margin-top: 10px;
    
            img{
                border-radius: 50%;
                cursor: pointer;
            }
        }
    
        div.brands{
            width: 100%;
            padding: 10px;
           
            margin-top: 20px;
            text-align: center;
            display: unset;
            display: block;
    
            a{
                text-decoration: none;
                color: black;
                border: 1px solid black;
                border-radius: 30px;
                padding: unset;
                padding: 10px;
            }
        }
    
    }
    
    div.video-xxl-xl{
        width: 100%;
        text-align: center;
        margin-top: 100px;
    }
    div.video-lg{
        display: none;
    }
    div.discover{
        width: 100%;
        padding: 10px;
        
        text-align: center;
        margin-top: 20px;
    
        a{
            text-decoration: none;
            color: black;
            border: 1px solid black;
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 30px;
            transition: 300ms;
    
            &:hover{
                background-color: #F7F7F7;
                transition: 300ms;
            }
        }
    }
    
    div.standard{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(6,17%);
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }
    
    hr.fasele{
       border: 3px solid yellowgreen;
       margin-top: 200px;
    }
    
    section.social{
        width: 70%;
        padding: 10px;
        padding-top: 40px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 180px;
        column-gap: 20px;
    
        div.social:nth-child(1){
            width: 100%;
            
            
    
            h2{
                font-size: 20px;
            }
    
            div.icons{
                width: 100%;
    
                img{
                    width: 40px;
                    height: 36px;
                    padding-left: 10px;
                    cursor: pointer;
                }
            }
        }
    
        div.social:nth-child(2){
            width: 100%;
            
            
    
            h2{
                font-size: 20px;
            }
            p{
                font-size: 12px;
                font-weight: bolder;
            }
            label{
                display: block;
                font-size: 12px;
                margin-top: -10px;
            }
            input{
                width: 330px;
                height: 21px;
                margin-top: 7px;
                display: block;
                border: unset;
                outline: unset;
                border-bottom: 1px solid black;
            }
            a{
                text-decoration: none;
                color: #838181;
                display: block;
                width: 330px;
                height: 43px;
                background-color: #F0E7E7;
                text-align: center;
                line-height: 43px;
                margin-top: 10px;
                border-radius: 30px;
            }
        }
    }
    
    section.support{
        width: 100%;
        padding: 30px;
        background-color: #F5F5F5;
       
        div.father{
            width: 75%;
            padding: 10px;
            
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(3,30%);
            column-gap: 20px;
    
            div.son{
                width: 100%;
           
    
                h2{
                    font-size: 16px;
                    font-weight: bolder;
                }
                a{
                    display: block;
                    text-decoration: none;
                    color: black;
                    font-size: 14px;
                    padding-bottom: 10px;
    
                }
            }
        }
    }
    section.bye{
        width: 100%;
        padding: 30px;
    
        div.bye{
            width: 55%;
            padding: 20px;
            
            margin: 0 auto;
            text-align: center;
            p{
                font-size: 12px;
                text-align: center;
            }
            
            div.span{
                width: 100%;
                
                margin-top: -20px;
                    span{
                        display: inline-block;
                        font-size: 12px;
                        text-align: center;
                        text-decoration: underline;
                        padding-left: 3px;
                        padding-right: 3px;
                        cursor: pointer;
                    }
                
            }
        }
    
    }
    
    
    
}